*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.Movie{
  min-height: 100vh;
  color:black;
  text-align: center;
  padding: 20px;
}
.Movie h1{
  text-align: center;
  font-size: 25px;
}
.movies-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  gap:40px
}
.movie-card{
  background: rgba(255, 255, 255, 0.1);
  width:100%;
  height: 350px;
  max-width: 300px;
  border-radius: 10px;
  padding:15px;
  border:4px solid black;
  /* border: 1px solid rgb(164, 148, 148); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.movie-card hover{
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}
.movie-card img{
   height: 250px;
   width:100%;
   border-radius: 10px;
   background-position: cover;
   object-fit: fill;
}
.movie-card h3{
  margin-top: 10px;
  font-size: 17px;
}
.movie-card p{
  margin-top: 5px;
  font-size: 15px;
  opacity: 0.8;
}
button{
  padding:10px 20px;
  border-radius: 5px;
  background-color:#ff9800;
  margin: 10px;
  margin-top: 30px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: background 0.3s ease-in-out, transform 0.2s;

}
button:hover{
  background: gray;
}
button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
  color: #888;
}
